$border: 1px solid $frost-color-lgrey-5;
$color: $frost-color-grey-1;
$error-border: 1px solid $frost-color-critical-1;
$error-margin: 1px; // Note: margin + border width equals border width of focus state
$focus-border: 2px solid $frost-color-blue-1;
$focus-margin: 0;
$font-size: $frost-font-size-2;
$height: 30px;
$margin: 1px; // Note: margin + border width equals border width of focus state
$padding: 0 6px;

.frost-text {
  border: $border;
  color: $color;
  font-size: $font-size;
  height: $height;
  margin: $margin;
  outline: none;
  padding: $padding;

  &:focus {
    border: $focus-border;
    margin: $focus-margin;
  }

  &:read-only {
    border: none;
    margin: $focus-margin;
  }

  &.error {
    border: $error-border;
    margin: $error-margin;
  }
}
