<div class='dummy-header'>Basic</div>

<div style="padding: 10px 20px;">
	{{frost-text id="basic"}}
</div>

<div class='dummy-header'>Action</div>

<div style="padding: 10px 20px;">
	{{frost-text id="action" on-input=(action "text" )}}
</div>

<div class='dummy-header'>Errored</div>

<div style="padding: 10px 20px;">
	{{frost-text id="errored" classNameBindings="errored"}}
	{{#frost-button on-click=(action "toggleError") class="text small secondary"}}
		Toggle error
	{{/frost-button}}
</div>

<div class='dummy-header'>Attributes - e.g. Disabled</div>

<div style="padding: 10px 20px;">
	{{frost-text id="disabled" disabled=true}}
</div>